*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #384047;
    background-color: #E1C285;
}

#funkyForm {
    max-width: 30%;
    margin: 50px auto;
    padding: 10px 20px;
    background: #bbb;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

#top-left, #top-right, #bottom-left, #bottom-right {
    content: " ";
    display: block;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #adadad;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #adadad 0%, #e1e1e1 51%, #dddddd 68%, #f6f6f6 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #adadad), color-stop(51%, #e1e1e1), color-stop(68%, #dddddd), color-stop(100%, #f6f6f6));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #adadad 0%, #e1e1e1 51%, #dddddd 68%, #f6f6f6 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #adadad 0%, #e1e1e1 51%, #dddddd 68%, #f6f6f6 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #adadad 0%, #e1e1e1 51%, #dddddd 68%, #f6f6f6 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #adadad 0%, #e1e1e1 51%, #dddddd 68%, #f6f6f6 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#f6f6f6', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    -moz-box-shadow: 0px 2px 4px #000;
    -webkit-box-shadow: 0px 2px 4px #000;
    box-shadow: 0px 2px 4px #000, -1px -1px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#top-left {
    top: -1%;
    ;
    left: -2%;
    -webkit-transform: rotate(-32deg);
    -moz-transform: rotate(-32deg);
    -o-transform: rotate(-32deg);
    transform: rotate(-32deg);
}

#top-right {
    top: -1%;
    right: -2%;
    -webkit-transform: rotate(32deg);
    -moz-transform: rotate(32deg);
    -o-transform: rotate(32deg);
    transform: rotate(32deg);
}

#bottom-left {
    bottom: -1%;
    left: -2%;
    -webkit-transform: rotate(32deg);
    -moz-transform: rotate(32deg);
    -o-transform: rotate(32deg);
    transform: rotate(32deg);
}

#bottom-right {
    bottom: -1%;
    right: -2%;
    -webkit-transform: rotate(-32deg);
    -moz-transform: rotate(-32deg);
    -o-transform: rotate(-32deg);
    transform: rotate(-32deg);
}

.indent {
    height: 10px;
    width: 30px;
    margin-top: 10px;
    -moz-box-shadow: inset 0px 1px 8px #222;
    -webkit-box-shadow: inset 0px 1px 8px #222;
    box-shadow: inset 0px 1px 8px #222;
    transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    border-radius: 2px;
    margin-left: -2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#top-right .indent, #top-left .indent {
  width: 31px;
  margin-top: 9px;
}

#bottom-right .indent {
  width: 32px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
    text-transform: uppercase;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    border-radius: 5px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

.btn {
	color: #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: #c99065;
	border-radius: .35em;
  margin: auto;
}

.btn {
  padding: 15px 25px;
  font-size: 24px;
  display: block;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 0 auto;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #97682A;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.btn:active {
  background-color: #97682A;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

fieldset {
    margin-bottom: 10px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #C99065;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

@media screen and (min-width: 0) {
    #funkyForm {
        max-width: 90%;
    }
}
@media screen and (min-width: 600px) {
    #funkyForm {
        max-width: 60%;
    }
}
@media screen and (min-width: 900px) {
    #funkyForm {
        max-width: 45%;
    }
}
@media screen and (min-width: 1080px) {
    #funkyForm {
        max-width: 30%;
    }
}
